/*
Blue: 000080
Yellow:FFFF00
Oker:ECD267
Brown:BC7D3A
Red:7E3822

*/
@font-face {
  font-family: "SpelokeFont";
  src: url("../assets/fonts/Courtny.otf");
}
@font-face {
  font-family: "SpelokeFontBold";
  src: url("../assets/fonts/Courtny\ Bold.otf");
}
@font-face {
  font-family: "SpelokeFontLight";
  src: url("../assets/fonts/Courtny\ Light.otf");
}
@font-face {
  font-family: "SpelokeFontExtra";
  src: url("../assets/fonts/courtny-regular.ttf");
}
body {
  background-color: navy;
  padding: 0;
  margin: 0;
}

.header {
  color: yellow;
  background-color: navy;
  text-align: center;
  font-family: "SpelokeFontLight";
  font-size: 3em;
  padding: 0;
  margin: 0;
}
.header header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header img {
  left: 0;
  fill: yellow;
  stroke: yellow;
  height: 100px;
}

.menu {
  font-family: "SpelokeFontExtra";
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu a {
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #ecd267;
}
.menu li:hover {
  background-color: #ecd267;
  color: navy;
  border-radius: 5px;
}

.menu a:hover {
  text-decoration: none;
  background-color: #ecd267;
  color: navy;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #ecd267;
  color: #7e3822;
  padding: 20px 0; /* Adjust padding as needed */
  margin: 0;
  margin-top: auto;
}

.footer ul {
  display: flex;
  justify-content: space-around;
  padding: 0 5% 0 5%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer a {
  text-decoration: none;
  vertical-align: bottom;
  color: #7e3822;
}
.footer a:hover {
  text-decoration: underline;
  vertical-align: bottom;
  color: #7e3822;
}

.footer > p {
  text-align: center;
}

div.main {
  padding-left: 1rem;
  font-family: "SpelokeFontLight";
  font-weight: lighter;
  color: #ecd267;
}
div.main h2 {
  font-size: 3em;
}
