/*
Blue: 000080
Yellow:FFFF00
Oker:ECD267
Brown:BC7D3A
Red:7E3822
*/

@font-face {
  font-family: "SpelokeFont";
  src: url("../assets/fonts/Courtny.otf");
}
@font-face {
  font-family: "SpelokeFontBold";
  src: url("../assets/fonts/Courtny\ Bold.otf");
}
@font-face {
  font-family: "SpelokeFontLight";
  src: url("../assets/fonts/Courtny\ Light.otf");
}
@font-face {
  font-family: "SpelokeFontExtra";
  src: url("../assets/fonts/courtny-regular.ttf");
}
body {
  padding: 0;
  margin: 0;
  background: navy;
}

.header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: yellow;
  background-color: navy;
  text-align: center;
  font-family: "SpelokeFontLight";
  font-size: 3em;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}
.header header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header img {
  left: 0;
  fill: yellow;
  stroke: yellow;
  height: 100px;
}

.menu {
  font-family: "SpelokeFontExtra";
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu a {
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #ecd267;
}
.menu li:hover {
  background-color: #ecd267;
  color: navy;
  border-radius: 5px;
}

.menu a:hover {
  text-decoration: none;
  background-color: #ecd267;
  color: navy;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #ecd267;
  color: #7e3822;
  padding: 20px 0;
  margin: 0;
  margin-top: auto;
}

.footer ul {
  display: flex;
  justify-content: space-around;
  padding: 0 5% 0 5%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer a {
  text-decoration: none;
  vertical-align: bottom;
  color: #7e3822;
}
.footer a:hover {
  text-decoration: underline;
  vertical-align: bottom;
  color: #7e3822;
}

.footer > p {
  text-align: center;
}

div.main {
  font-family: "SpelokeFontLight";
  font-weight: lighter;
  color: #ecd267;
}
div.main h2 {
  grid-area: a;
  text-align: center;
  font-size: 3em;
}
.main p {
  text-align: center;
  font-weight: thin;
  color: #ecd267;
  padding: 0.5em;
  font-size: 2em;
}
.main h3 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #ecd267;
  padding: 0;
  margin: 0;
  font-size: 2.5em;
  text-align: center;
}
.algemeen {
  height: max-content;
  display: grid;
  grid-template-areas:
    "b b a"
    "b b c"
    "b b c";
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.algemeen .sideImages {
  position: relative;
  display: flex;
  width: 100%;
  grid-area: b;
  overflow: hidden;
}
.algemeen .sideImages img {
  position: absolute;
  margin-left: -100%;
}
.tekst {
  grid-area: c;
}
.tablePrijzen {
  margin-top: 5%;
  font-size: 2em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.tablePrijzen th {
  padding: 7%;
}
.tablePrijzen td {
  padding: 7%;
}
.tablePrijzen,
th,
td {
  border-collapse: collapse;
  border: 1px solid #ecd267;
  text-align: center;
}
